<nav class='navbar has-background-info-dark mb-5 is-max-desktop' role='navigation' aria-label='main navigation'>
  <div class='container is-max-desktop'>
    <div class='navbar-brand'>
      <div role='button' class='navbar-burger has-background-primary' aria-label='menu' aria-expanded='false'
        data-target='navbar-menu'>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
      </div>
    </div>

    <div id='navbar-menu' class='navbar-menu'>
      <div class='navbar-end'>
        <a href='/' class='has-background-primary navbar-item has-text-white has-text-weight-bold'>
          Home
        </a>
        <a id='logout' class='has-background-primary navbar-item has-text-white has-text-weight-bold '>
          Log Out
        </a>
      </div>
    </div>
  </div>
</nav>
<script src="/js/navbar.js"></script>
<script src='/js/logout.js'></script>